
.DS_Store

build/AudioAnalysis.app/Contents/support/mididrivers/midi_adrewire.mxo.mxo/Contents/Info.plist

build/AudioAnalysis.app/Contents/AudioAnalysis.mxf

*.h

*.plist

*.icns

*.rsrc

*.svg

*.zip
